.logo{
    margin-top: 50px;
    margin-bottom: 50px;
}

.SearchBar{
    margin-bottom: 50px;
}

.tarjeta-pokemon-container {
  width: 100%;
  text-align: center;
}

.TarjetaPokemon {
  width: 30%;
  margin: 10px;
  align-items: center;
}


    

.main{
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.button {
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  
  
  .button:hover {
    background-color: #eee;
  }
  
  .btnGuardar{
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
  }